.hero {
  font-size: 18px;
  background-color: grey;
  width: 5%;
  padding: 10px;
  text-align: center;
  position: relative;
  left: 0px;
}


.button {
  padding: 10px;
  font-size: 60px;
}


.hero-img {
  width: 1728px;
  height: 1152px;
  position: relative;
  top: 0px;
  left: -288px;
  transform: scale(-1,1);
}
/*-576px*/



.img-container {
  width: 288px;
  height: 288px;
  overflow: hidden;
  position: relative;
  left: 0px;
}

.canvas {
  background-color: white;
}

.imgFS {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 10px;
}

.jump-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 144px;
  height: 144px;
  overflow: hidden;
  opacity: 0.5;
}

.hit-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 144px;
  height: 144px;
  overflow: hidden;
  opacity: 0.5;
}

.imgJmp {
  position: absolute;
  top: -144px;
  left: -144px;
  width: 864px;
  height: 576px;
  transform: scale(-1, 1);
}

.imgHt {
  position: absolute;
  top: -452px;
  left: -452px;
  width: 864px;
  height: 576px;
  transform: scale(-1, 1);
}

.rt {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 140px;
  border: 2px solid blue;
  border-radius: 50%;
}

.rtrt {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 140px;
  border: 2px solid blue;
  border-radius: 50%;
}